
@{
    ViewBag.Title = "Home";
}

<div align="center" class="jumbotron">
	<h1>Welcome to the SALE ZONE</h1>
	<p class="lead">We sell cars, that's it</p>
</div>
<br />
<hr />
<div align="center">
	<h2>Featured Rides</h2>

	<div id="featured">


	</div>
</div>

