@model SWGDealer.Models.DealerModels.AddModelViewModel
@{
	ViewBag.Title = "AddModel";
}

<h1>Add Model</h1>

@using (Html.BeginForm())
{
	<div class="panel-body">
		<div class="form-group">
			<label>New Vehicle Model:</label>
			@Html.TextBoxFor(m=>m.ModelType, new { @class = "form-control" })
			<br />
			<div class="form-group">
				<label>Make:</label>
				@Html.DropDownListFor(m => m.VehicleMakeId, Model.Makes.ToList(),
						   "-Choose One-", new { @class = "form-control" })
			</div>
			<button class="btn btn-primary">Save</button>
		</div>
	</div>
}

